{% extends 'base.html' %}
{% load static %}

{% block title %}Cart detail{% endblock %}

{% block content %}

    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li class="active">Cart</li>
                <li><a href="{% url 'cart:address' %}">Information</a></li>
                <li><a href="{% url 'cart:method' %}">Expedition</a></li>
                <li>Payment</li>
            </ul>
        </div>
    </div>

{#{% if False %}#}
{#    The cart is empty#}
{#{% else %}#}
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">

            <div class="order-summary clearfix">
                <div class="section-title">
                    <h3 class="title">Order Review</h3>
                </div>
                <table class="shopping-cart-table table">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th></th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Total</th>
                        <th class="text-right"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td class="thumb"><img src="{{ item.product.image_url }}" alt=""></td>
                            <td class="details">
                                <a href="#">{{ item.product.title }}</a>
                                <ul>
                                    <li><span>Size: XL</span></li>
                                    <li><span>Color: Camelot</span></li>
                                </ul>
                            </td>
                            <td class="price text-center"><strong>${{ item.product.price }}</strong><br>
                                <del class="font-weak"><small>$40.00</small></del>
                            </td>
                            <td class="qty text-center">
                                <p class="quantity">{{ item.quantity }}</p>
                                <div class="arrow-cart">
                                <img data-product="{{ item.product.id }}" data-action="add" class="chg-quantity update-cart" src="{% static  'img/arrow-up.png' %}">

							    <img data-product="{{ item.product.id }}" data-action="remove" class="chg-quantity update-cart" src="{% static  'img/arrow-down.png' %}">
                                </div>

{#                                <input class="input" type="number" value="{{ item.quantity }}">#}
{#                                <form action="{% url 'cart:add' %}" method="post">#}
{#                                    {% csrf_token %}#}
{#                                    {% for error in item.cartadd_form.errors %}#}
{#                                        {{ error }}#}
{#                                    {% endfor %}#}
{##}
{#                                    {{ item.cartadd_form.quantity }}#}
{#                                    {{ item.cartadd_form.update }}#}
{#                                    <input name="product_id" value="{{ item.object.id }}" type="hidden">#}
{#                                    <button class="primary-btn add-to-cart"> Update</button>#}
{#                                </form>#}
                            </td>
                            <td class="total text-center"><strong class="primary-color">${{ item.get_total|floatformat:2 }}</strong>
                            </td>
{#                            <td class="text-right"><a href="{% url 'cart:remove' item.object.id %}"#}
{#                                                      class="main-btn icon-btn"><i class="fa fa-close"></i></a></td>#}
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th class="empty" colspan="3"></th>
                        <th>SUBTOTAL</th>
                        <th colspan="2" class="sub-total">${{ order.get_cart_items|floatformat:2 }}</th>
                    </tr>
                    <tr>
                        <th class="empty" colspan="3"></th>
                        <th>SHIPING</th>
                        <td colspan="2">Free Shipping</td>
                    </tr>
                    <tr>
                        <th class="empty" colspan="3"></th>
                        <th>TOTAL</th>
                        <th colspan="2" class="total">${{ order.get_cart_total|floatformat:2 }}</th>
                    </tr>
                    </tfoot>
                </table>
                <div class="pull-right">
                    <button class="primary-btn">Place Order</button>
                    <button id="session_test" url="" class="primary-btn">Next</button>
                </div>
            </div>

        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
{#{% endif %}#}


{% endblock %}