{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}

    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'cart:detail' %}">Cart</a></li>
                <li><a href="{% url 'cart:address' %}">Information</a></li>
                <li class="active">Expedition</li>
                <li>Payment</li>
            </ul>
        </div>
    </div>

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">

            <div class="row">
                <form id="checkout-form" method="post" class="clearfix">
                    {% csrf_token %}
                    <div class="col-md-4 col-md-offset-4">
                        <div class="shiping-methods">
                            <div class="section-title">
                                <h3 class="title">Shiping Methods</h3>
                            </div>
                            <div class="input-checkbox">
                                <input type="radio" name="shipping" id="shipping-5" checked>
                                <label for="shipping-5">Free Shiping - $0.00</label>
                                <div class="caption">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    <p>
                                </div>
                            </div>
                            <div class="input-checkbox">
                                <input type="radio" name="shipping" id="shipping-6">
                                <label for="shipping-6">Standard - $4.00</label>
                                <div class="caption">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    <p>
                                </div>
                            </div>

                            {% for m in method %}

                            <div class="input-checkbox">
                                <input type="radio" name="shipping" id="shipping-{{ forloop.counter }}" value="{{ m.id }}">
                                <label for="shipping-{{ forloop.counter }}">{{ m.title }} - ${{ m.price }}</label>
                                <div class="caption">
                                    <p>{{ m.detail|safe }}</p>
                                </div>
                            </div>
                            {% endfor %}


                        </div>

                        <div class="payments-methods">
                            <div class="section-title">
                                <h3 class="title">Payments Methods</h3>
                            </div>
                            <div class="input-checkbox">
                                <input type="radio" name="payments" id="payments-1" checked>
                                <label for="payments-1">Direct Bank Transfer</label>
                                <div class="caption">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    <p>
                                </div>
                            </div>
                            <div class="input-checkbox">
                                <input type="radio" name="payments" id="payments-2">
                                <label for="payments-2">Cheque Payment</label>
                                <div class="caption">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    <p>
                                </div>
                            </div>
                            <div class="input-checkbox">
                                <input type="radio" name="payments" id="payments-3">
                                <label for="payments-3">Paypal System</label>
                                <div class="caption">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    <p>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <button type="submit" class="primary-btn">Checkout</button>

                    </div>
                </form>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
{% endblock %}